:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --fon-background-color: rgb(48, 169, 225);
  --button-background-color: rgb(222, 215, 10);
  --main-icon-fill: tomato;
  --hover-icon-fill: rgb(41, 174, 11);
}

body {
  font-family: 'Helvetica', 'Arial', 'Tahoma', 'Geneva', sans-serif;
  font-size: 14px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.search-form {
  margin: 0 auto;
  background-color: var(--fon-background-color);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
}

.search-form input {
  width: 50%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid var(--button-background-color);
  border-radius: 8px;
  outline: none;
}

.search-form button {
  position: absolute;
  width: 60px;
  height: 47px;
  border: none;
  background: var(--button-background-color);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 50%;

  z-index: 1;
  float: left;
}

.icon {
  display: inline-flex;
  width: 50px;
  height: 50px;
  fill: var(--fon-background-color);
  transition: box-shadow 250ms linear, transform 250ms ease-in-out;
}

.icon:hover {
  fill: var(--hover-icon-fill);
}

.gallery {
  margin-top: 100px;
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(4, 340px);
  grid-auto-rows: 240px;
  grid-gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 0 0px 30px 30px;
  background-color: hsl(240, 20%, 96%);
  transition: box-shadow 250ms linear, transform 250ms ease-in-out;
}

.photo-card:hover {
  box-shadow: 1px 5px 5px 10px rgba(192, 189, 204, 0.75);
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image {
  height: 70%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
}

.info-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.load-more {
  margin: 20px auto;
  background-color: var(--fon-background-color);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.go-home {
  top: 93%;
  right: 2%;
  position: fixed;
  background-color: transparent;
  border: none;
}

.go-home .icon {
  display: inline-flex;
  fill: var(--main-icon-fill);
  transition: box-shadow 250ms linear, transform 250ms ease-in-out;
}

.go-home .icon:hover {
  fill: var(--hover-icon-fill);
}

.is-hidden {
  display: none;
}

.info-text {
  color: var(--main-icon-fill);
  text-align: center;
}

.gallery-empty{
  margin-top: 100px;
}

.gallery-empty__img{
display: block;
 margin: 0 auto;
max-width:500px;
height: auto;
}
